.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  color: var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.form button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.title {
  font-size: 30px;
  text-align: center;
}

.checkbox_title {
  font-size: 25px;
  color: var(--grey);
  margin: 8px 0;
}

.toggle_switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.toggle_switch input[type='checkbox'] {
  display: none;
}

.toggle_switch_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggle_switch_handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle_switch::before {
  content: '';
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle_switch input[type='checkbox']:checked + .toggle_switch_handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle_switch input[type='checkbox']:checked + .toggle_switch_background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}

.toggle_switch input[type='checkbox']:checked + .toggle_switch:before {
  content: 'On';
  color: #05c46b;
  right: -15px;
}

.toggle_switch
  input[type='checkbox']:checked
  + .toggle_switch_background
  .toggle_switch_handle {
  transform: translateX(30px);
}

.checkbox {
  display: flex;
  gap: 25px;
}

.checkbox input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.checkbox_Label {
  margin-left: 5px;
  font-size: 22px;
  color: var(--grey);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .checkbox {
    gap: 15px;
  }

  .checkbox_title {
    font-size: 15px;
  }

  .checkbox input {
    width: 12px;
    height: 12px;
  }

  .checkbox_Label {
    font-size: 15px;
  }
}
